<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MemorySearchV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <MemorySearchV2.Properties.Settings>
      <setting name="PreviousStartAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviousEndAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviousValue" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviousDataType" serializeAs="String">
        <value />
      </setting>
      <setting name="IsHexValue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsLittleEndianValue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PauseWhileSearching" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RefreshTableValues" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RefreshTableValuesInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ResultsToDisplay" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="AutoConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsDevKit" serializeAs="String">
        <value>False</value>
      </setting>
    </MemorySearchV2.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="refs;" />
    </assemblyBinding>
  </runtime>
</configuration>